<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%> - AK ShortLink</title>

    <%if(typeof stylesfirstSection != "undefined"){%>
    <%-stylesfirstSection%>
    <%}%>
    </body>

    <link rel="stylesheet" href="assets/css/main/app.css">
    <link rel="stylesheet" href="assets/css/main/app-dark.css">
    <link rel="shortcut icon" href="assets/images/logo/favicon.svg" type="image/x-icon">
    <link rel="shortcut icon" href="assets/images/logo/favicon.png" type="image/png">

    <%if(typeof stylesSection != "undefined"){%>
    <%-stylesSection%>
    <%}%>
</head>

<body>
    <script src="assets/js/initTheme.js"></script>
    <div id="app">
        <div id="main" class="layout-horizontal">
            <%-include('header')%>
    <div class="content-wrapper container">
        <%-body%>
    </div>
    <%-include('footer')%>
    </div>
    </div>
    <script src="assets/js/bootstrap.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/pages/horizontal-layout.js"></script>

    <%if(typeof jsSection != "undefined"){%>
    <%-jsSection%>
    <%}%>
    </body>

</html>